// disable outbound link icon
.icon.outbound
  display none

pre[class*=language-] code {color: #000;}
.theme-default-content pre code{ color: #000 !important;}

.token.atrule, .token.builtin, .token.important, .token.keyword, .token.selector {
    color: #d73a49 !important;
}

