// colors
$accentColor = #0984e3
//$textColor = #2c3e50
$textColor = #24292e
$borderColor = #eaecef
//$codeBgColor = #282c34
$codeBgColor = #f6f8fa
$arrowBgColor = #ccc

.theme-default-content pre code{color: #000}
pre[class*=language-] code {color: #000;!important}
  
